
*{
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-color: coral;
    margin: 0;
    padding: 0;
}
/*Estilos del header*/
.banner{
    margin: 10px;
    background-color: rgb(161, 86, 231);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    text-align: center;
    
}
.logocapi {
    width: 5rem;
    height: 5rem;
    border-radius: 60px;
    margin: 15px;
}
/*Estilos barra de navegacion*/
.nav-menu{
    padding: 10px;
    margin: 10px;
    color:azure;
    background-color: rgb(235, 20, 95);
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    ul{
        list-style: none;
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 10px;
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                transition: all .3s ease;
            }
           
        }

    }

}
.nav-menu ul li a:hover{
                background-color:#00ffc3;
                color:#333;
                border-radius: 10px;
                text-shadow: 2px 2px 4px var(--gris3);
            }
.sonido{
    margin-left: 10px;
    
}
/*Estilos del Main*/
main{
    padding: 10px;
    text-align: center;
}
/*estilos por section*/
/*Inicio*/
.section-inicio{
    display: inline-block;  
}
.img-inicio{
        width: 60vw;
        border-radius: 35px;
}
/*Entretenimiento*/
.section-entretenimiento{
    gap: 10px;
    padding: 10px;
    background-color: rgb(238, 123, 23); 
    border-radius: 20px;
}
.entretenimiento-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.entretenimiento-contenedor img{
    width: 20vw;
    margin: 10px;
    border-radius:15px;
}
.producto {
    text-align: center;
    margin: 10px;
    border: 2px solid rgba(15, 43, 200, 0.914);
    border-radius: 25px 25px 25px;
}
/*Estilos para la seccion de Videos*/
.section-videos{
    margin-top: 10px;
    gap: 10px;
    padding: 10px;
    background-color: rgb(238, 98, 23); 
    border-radius: 20px;
   
}
.video-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.film iframe{
    border-radius: 25px ;
    width: 95%;
}


/* Estilo para la sección de reseñas usando Grid */
.section-reseñas{
    margin-top: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;

}
.reseñas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    background-color: white;
    border: 5px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
/* Estilo para el formulario de contacto */
.section-contacto{
    margin-top: 10px;
    padding:20px;
    background-color: rgb(234, 163, 101); 
    border-radius: 20px;
    text-align: left;
    
}
.section-contacto h2{
     text-align: center;
}

.formulario-contacto {
    display: grid;
    gap: 10px;
    border-radius: 35px;
    width: 100%;
    padding-bottom: 10px;
}
.formulario-contacto input, .formulario-contacto textarea{
    border-radius: 4px;
}

.button-submit {
    background-color:rgb(24, 149, 153);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 20px 20px;
}
/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.pie-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.redes{
    display: flex;
    flex-direction: row  ;    
}
.redes i{
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color: rgb(61, 90, 128);
    line-height: 30px;
    border-radius: 30%;
    color:rgb(250, 248, 245);
    transition: all .3s ease;
}

.redes i:hover{
    background-color: var(--celeste);
    color:var(--azul);
}
/*Tienda e-commerce*/

.tienda-e-commerce, .layout{
    margin-top: 10px;
    padding:20px;
    background-color: rgb(232, 118, 25); 
    border-radius: 20px;
    text-align: center;
}

.navegacion-tienda{
    margin-top: .5rem;
}

.navegacion-tienda ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:1rem;
    padding: 0;
    margin: .5rem 0 0;

}

.navegacion-tienda li{
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #eaeaea;
    border-radius: .5rem;
}

.navegacion-tienda a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}



#contenedor-productos h2{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#contenedor-productos,
#contenedor-carrito{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.tarjeta-producto,
.producto-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 25%;
    text-align: center;
    border: 1px solid #ccc;
    height: auto;
    border-radius: 15px;
}

.tarjeta-producto img,
.producto-carrito img{
    height: 140px;
    object-fit: contain;
    margin-bottom: .5rem;
    
}

button{
    margin-top: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(66, 63, 63);
    border: none;
    
}

.mensaje-carrito{
    padding: 2rem;
}

#acciones-carrito{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}
#resumen-carrito{
    margin: 30px auto;
    width: 300px;
    background-color: #eaeaea;
    padding: 5px;
}

#resumen-carrito p{
    padding: 5px;
    font-size: 1.3rem;
}

#resumen-carrito button{
    font-size: 1rem;
    background-color: cornsilk;
}

/*Carrito*/

.carrito h1{
    padding: 10px;
    text-align: center;
}
.carrito{
    min-height: 85vh;
}


/*Medias Querrys*/

@media screen and (max-width: 400px) {
body {
    margin: 0;
    padding: 0;
  }
h1{
    font-size: 20px;
  }
.nav-menu ul li{
    font-size: 10px;
 }
h2{
    font-size: 18px;
}
h3{
    font-size: 15px;
}
.producto p{
    font-size: 12px;
}
.film p{
    font-size: 12px;
}
.card p{
    font-size: 12px;
}
.section-contacto label{
    font-size: 12px; 
}
.button-submit {
   font-size: 12px;
}
footer {
    font-size: 0.75rem;
}
.pie-pagina{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.redes i{
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    margin: 1rem;
    background-color: rgb(61, 90, 128);
    line-height: 0rem;
    border-radius: 40%;
    color:rgb(240, 243, 243);
    transition: all .3s ease;
    }

}